{% extends 'base.html.twig' %}

{% block title %}Formation en ligne | Knowledge Learning{% endblock %}

{% block meta_description %}
Découvrez des formations en ligne : développement web, musique, cuisine, jardinage. Apprenez à votre rythme.
{% endblock %}

{% block robots %}index,follow{% endblock %}

{% block canonical_url %}
{{ absolute_url(path('homepage')) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# On réutilise le CSS des thèmes pour avoir les mêmes encadrés #}
    <link rel="stylesheet" href="{{ asset('styles/user/themes.css') }}">
{% endblock %}

{% block body %}
<section class="homepage-intro">
    <h1>Bienvenue sur Knowledge Learning</h1>

        <p>
            Développez vos compétences grâce à des formations en ligne accessibles à tous. 
            Avec Knowledge Learning, progressez à votre rythme, sans limite de temps, et 
            découvrez des contenus pédagogiques variés dans plusieurs domaines. 
        </p>

        <p>
            De nouvelles formations et mises à jour sont proposées régulièrement 
            afin d’enrichir votre parcours d'apprentissage.
        </p>
</section>

<section class="homepage-themes">
    <h2>Découvrez nos thèmes et formations :</h2>
        <div class="themes-grid">
            {% for theme in themes %}
                <article class="theme-card">
                    {% if theme.image %}
                        <img
                            src="{{ asset(theme.image) }}"
                            alt="{{ theme.alt|default(theme.name) }}"
                            width="600"
                            height="338"
                            class="img-card"
                            loading="lazy"
                        >
                    {% endif %}

                    <h3>{{ theme.name }}</h3>

                    {% if theme.description %}
                        <p>{{ theme.description }}</p>
                    {% endif %}

                    <a href="{{ path('theme_show', {'slug': theme.slug}) }}" class="btn btn-primary">
                        Découvrir
                    </a>
                </article>
            {% else %}
                    <p>Aucun thème disponible pour le moment.</p>
            {% endfor %}
        </div>
</section>
{% endblock %}
