{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<div class="contact-page">

    <h1>Nous contacter</h1>
    <p>Pour toute question concernant nos formations, votre compte ou vos commandes,
    n’hésitez pas à nous écrire via le formulaire ci-dessous.
     otre équipe vous répondra sous 24 à 48 heures ouvrées.
    </p>

    <div class="contact-form-wrapper">
        {{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}

            <div class="form-group">
                {{ form_label(contactForm.fullname) }}
                {{ form_widget(contactForm.fullname, {'attr': {'placeholder': 'Votre nom'}}) }}
                {{ form_errors(contactForm.fullname) }}
            </div>

            <div class="form-group">
                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Votre e-mail'}}) }}
                {{ form_errors(contactForm.email) }}
            </div>

            <div class="form-group">
                {{ form_label(contactForm.subject) }}
                {{ form_widget(contactForm.subject) }}
                {{ form_errors(contactForm.subject) }}
            </div>

            <div class="form-group">
                {{ form_label(contactForm.message) }}
                {{ form_widget(contactForm.message, {'attr': {'placeholder': 'Votre message'}}) }}
                {{ form_errors(contactForm.message) }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn-submit">Envoyer le message</button>
            </div>

        {{ form_end(contactForm) }}
    </div>
</div>
{% endblock %}
