{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
<h1>Modifier votre profil</h1>
{{ form_start(profileForm) }}
    {{ form_row(profileForm.firstname) }}
    {{ form_row(profileForm.lastname) }}
    {{ form_row(profileForm.email) }}
    <button type="submit">Enregistrer</button>
{{ form_end(profileForm) }}
{% endblock %}
