{% extends 'dashboard/base_dashboard.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/user-shared.css') }}">
{% endblock %}

{% block sidebar %}
  {% set route = app.request.attributes.get('_route') %}

  <div class="sidebar-header">Espace Membre</div>

  <nav class="sidebar-nav">
    <a href="{{ path('user_dashboard') }}"
       class="sidebar-link {{ route == 'user_dashboard' ? 'active' : '' }}">
      Vue d’ensemble
    </a>

    <a href="{{ path('user_dashboard_edit') }}"
       class="sidebar-link {{ route == 'user_dashboard_edit' ? 'active' : '' }}">
      Mon profil
    </a>

    <a href="{{ path('app_change_password') }}"
       class="sidebar-link {{ route == 'app_change_password' ? 'active' : '' }}">
      Sécurité
    </a>

    <a href="{{ path('user_dashboard_purchases') }}"
       class="sidebar-link {{ route == 'user_dashboard_purchases' ? 'active' : '' }}">
      Mes achats
    </a>

    <a href="{{ path('user_dashboard_certifications') }}"
       class="sidebar-link {{ route == 'user_dashboard_certifications' ? 'active' : '' }}">
      Mes certificats
    </a>
  </nav>
  
{% endblock %}